{% extends 'base_bootstrap.html' %}
{% load app_tags %} <!-- see home/templatetags/app_tags.py and dj4e-samples/settings.py -->
{% block navbar %}
<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
<nav id="header-nav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a  href="{% url 'home:main' %}">
            <div id="logo-img" alt="Logo image">

            </div>
        </a>
    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->


  </div>
</nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'login' %}?next={% url 'home:main' %}">Action</a></li>
          <li><a class="dropdown-item" href="{% url 'login' %}?next={% url 'home:main' %}">Another action</a></li>
          <li><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- <nav id="menu-nav" class="navbar navbar-default navbar-inverse">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">


            <li class="nav-item">
          <a href="{% url 'library:all' %}">ARLibrary</a>
            </li>

            <li class="nav-item">
          <a href="{% url 'forum:all' %}">Forum</a>
            </li>
</ul>
<ul  class="nav navbar-nav navbar-right">
      {% if not request.user.is_authenticated %}

          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a href="{% url 'login' %}?next={% url 'home:main' %}">Login</a>
                  <a href="{% url 'home:register' %}?next={% url 'home:main' %}">Sign up</a>
        </div>
          </li>
     {% else %}
      <li class="nav-item dropdown">

      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img style="width: 25px;" src="{{ user|gravatar:60 }}"/><span>  {{user.username}}</span><b class="caret"></b></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="{% url 'logout' %}?next={% url 'home:main' %}">Logout</a>
            <a href="{% url 'membership:member_detail' user.id %}">View Profile</a>
       </div>
      </li>
       {% endif %}
    </ul>
</div>
</nav> -->


{% endblock %}